.signature {
  text-align: center;
  height: 40px;
}

.nickname {
  text-align: center;
  width: 150px;
  margin: 10px 0;
  color: rgba(0, 0, 0, 0.85);
  font-weight: 600;
  font-size: 15px;
  overflow: hidden;
  align-items: center;
  line-height: 28px;
  word-break: break-word;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.signature span {
  width: 150px;
  display: inline-block;
  word-break: break-word;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
