/* theme color */
@import './assets/css/overideAntDNav.css';

:root {
  --dark-navy: #020c1b;
  --navy: #0a192f;
  --light-navy: #112240;
  --lightest-navy: #233554;
  --navy-shadow: rgba(2, 12, 27, 0.7);
  --dark-slate: #495670;
  --slate: #8892b0;
  --light-slate: #a8b2d1;
  --lightest-slate: #ccd6f6;
  --white: #e6f1ff;
  --green: #64ffda;
  --green-tint: rgba(100, 255, 218, 0.1);
  --pink: #f57dff;
  --blue: #1890ff;
  --background: #d3dedc;
  --border: #3ab4f2;
  --easing: cubic-bezier(0.645, 0.045, 0.355, 1);
}

body {
  margin: 0;
  height: 300px;
  min-width: 1200px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /*background-color: rgb(233, 238, 250);*/
  background-color: rgb(250, 250, 250);
}

html,
body,
.App,
#root {
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

@keyframes fadedown {
  from {
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 300ms var(--easing), transform 300ms var(--easing);
  }
  to {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 300ms var(--easing), transform 300ms var(--easing);
  }
}

@keyframes fadeup {
  from {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 300ms var(--easing), transform 300ms var(--easing);
  }
  to {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 300ms var(--easing), transform 300ms var(--easing);
  }
}

@keyframes fadeleft {
  from {
    opacity: 0;
    transform: translateX(20px);
    transition: opacity 300ms var(--easing), transform 300ms var(--easing);
  }
  to {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 300ms var(--easing), transform 300ms var(--easing);
  }
}

.ant-input {
  height: 37px;
}

.ant-tree .ant-tree-node-content-wrapper {
  width: 100%;
  height: 38px;
  line-height: 38px;
  padding: 0;
}

.ant-tree .ant-tree-node-content-wrapper:hover {
  background-color: rgb(231, 239, 252);
}

.ant-tree-treenode {
  width: 100%;
}

.ant-tree > .ant-tree-treenode {
  width: 0;
}

.ant-tree .ant-tree-node-content-wrapper.ant-tree-node-selected {
  background-color: rgb(240, 246, 255);
}

/* Modal 树形控件 Modal样式覆盖 */
.ant-tree.ant-tree-block-node .ant-tree-list-holder-inner {
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px,
    rgba(17, 17, 26, 0.1) 0px 16px 56px;
}

.ant-modal-body .tip-delete {
  color: #ff4d4f;
}

.ant-modal-body .tip-rename {
  color: white;
  margin-bottom: 10px;
}

.ant-modal-body {
  padding: 15px !important;
}
.ant-modal-body input {
  margin: 8px 0 15px 0;
}

.ant-tabs-tab-btn,
.ant-tabs-tab-remove {
  color: white;
}

/* table组件的设置 */
.ant-table {
  margin: 10px 20px 30px;
}

.ant-table-thead {
  background-color: #166fff;
}

.ant-checkbox-inner {
  width: 18px;
  height: 18px;
}

.rowStyle:nth-child(2n) {
  background-color: #fafafa;
}

th.table-header {
  background-color: #f0f0f0 !important;
}

th.ant-table-selection-column {
  background-color: #f0f0f0 !important;
}

/* 搜索框 */
.ant-btn-icon-only.ant-btn-lg {
  width: 52px;
  height: 52px;
}

/* 搜索框图标 */
.ant-btn-icon-only.ant-btn-lg > * {
  font-size: 22px;
}

/* modal 章节学习 */
.modal-wrapper .ant-modal-content {
  min-height: 500px;
}

.modal-chapter .ant-modal-footer {
  text-align: center;
}

.modal-wrapper .ant-modal-footer {
  border-top: none;
}

/* 树选择组件 */
.ant-tree-checkbox {
  top: initial;
  margin: 11px 8px 0 0;
}

.exam-drawer .ant-drawer-body {
  padding: 0;
}

.ant-drawer-content-wrapper {
  width: 100vw !important;
}
